.holder{
	position: relative;
}
.header{
	position: absolute;
	top: 0;
	z-index: 1;
}

#vrview{
	z-index: -1;
}

#inner-content{
	pointer-events:auto;
}

.auto-pointer{
	pointer-events:auto;
}

@media only screen and (max-device-width: 659px) {
	#logo{
		display: none;
	}
	#logo2{
		display: none;
	}
}

@media only screen and (max-device-width: 1119px) {
	#logo2{
		display: none;
	}
}